@import url(https://fonts.googleapis.com/css?family=Fira+Mono:400);
@import url(https://fonts.googleapis.com/css?family=Inconsolata);
@import url(https://fonts.googleapis.com/css?family=Share:400);
@import url(https://fonts.googleapis.com/css?family=Expletus+Sans);

html,body{
	margin: 0px;
	height: 100%;
	font-family: sans-serif;
}

div.wrapper{
	display: grid;
	grid-template-columns: 70% 30%;
	height: 100%;
}

div.left{
	background-color: #cccccc;
	padding-left: 40px;
	padding-top: 100px;
	height: auto;
}

div.right{
	background-color: #333333;
	height: auto;
}

div.header{
	font-size: 40px;
	padding-bottom: 20px;
}

hr.headerLine{
	width: 70%
}

div.aboutContent{
	font-size: 18px;
	padding-top: 30px;
	line-height: 30px;
	padding-bottom: 30px;
	font-family: 'Inconsolata', monospace;
}

div.faceImage{
	width: 100%;
	padding-top: 20px;
	text-align: center;
}

div.faceTag{
	color: #ffffff;
	text-align: center;
	font-size: 25px;
	padding-top: 30px;
	padding-bottom: 30px;
	font-family: 'Share', cursive;
}

div.links{
	padding-top: 20px;
	padding-bottom: 20px;
}

div.links img{
	padding-right: 20px;
}

div.titleLinks{
	text-align: center;
	color: #000000;
	padding: 10px;
	font-size: 23px;
	background-color: #ffffff;
}

div.repoLink{
	text-align: center;
	color: #ffffff;
}

div.card {
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #6600cc;
	font-family: 'Expletus Sans', cursive;	
}

a:link, a:visited, a:hover, a:focus, a:active{
	color: #ffffff;
	text-decoration: none;
}

div.copyright{
	font-family: 'Fira Mono', monospace;
}

span.copy{
	font-size: 15px;
}